html {
    height: 100%;
    width: 100%;
  }
  
h3 {
  color: green;
}

.azul {
  color: blue;
}
.h3rojo {
  color: red;
  /* aqui se cambia el color a gris */
  body {
  background-color: gray;
}
  
  
h5 {
  cursor: pointer;
}
